* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
  }
  
  /*Con row_poster diventava minuscolo*/
  .row_poster_in_list {
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row__poster:hover {
    transform: scale(1.08);
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    transform: scale(1.09);
  }
  
  /*Questo applicato all'ultimo row per dare distanza al foot_phrase*/
  .last_row {
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  
  /*banner specifico*/
  .banner_2022 {
    background-image: url('../../images/varese_lauree/banners/2022_varese_lauree.png');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
  }
  
  .banner_2023 {
    background-image: url('../../images/varese_lauree/banners/2023_varese_lauree.png');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
  }
  
  .banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
  }
  
  /*sarebbe da cambiare font*/
  .upper_banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
  }
  
  .banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
  }
  
  .banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
  
  .play_button {
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .play_button:hover {
    color: #fff;
    background-color: #000;
    transition: all 0.2s;
  }
  
  .banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  }
  
  .photos_trasparent_button {
    width: 187px;
    background:transparent;
    border:none;
  }
  
  
  /*Rende bottone trasparente*/
  .avatar_button {
    width: 30px;
    object-fit: contain;
    background:transparent;
    border:none; 
  }
  
  .avatar_button:hover {
    transform: scale(1.09);
    cursor: pointer;
  }
  
  /* nav */
  .nav__logo {
    width: 80px;
    object-fit: contain;
  }
  
  .nav__logo:hover {
    transform: scale(1.09);
  }
  
  .nav__avatar {
    width: 30px;
    object-fit: contain;  
  }
  
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #111; */
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }
  
  
  .foot_phrase{
    font-size: 10px;
  
    margin-top: 100px;
    margin-bottom: 100px;
  
    padding-top: 50px;
    padding-bottom: 50px;
  
  }