* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

/*Con row_poster diventava minuscolo*/
.row_poster_in_list {
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.row {
  color: white;
  margin-left: 20px;
}

/*Questo applicato all'ultimo row per dare distanza al foot_phrase*/
.last_row {
  color: white;
  margin-left: 20px;
  margin-bottom: 30px;
}

/* banner */
.banner {
  background-image: url('images/00_general/banner.jpeg');
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/*per grandi post...credo*/
.photos_trasparent_button {
  width: 187px;
  background:transparent;
  border:none;
}

/*per piccoli post...credo*/
.photos_trasparent_button_little {
  width: 187px;
  background:transparent;
  border:none;
}

/*per staccarlo dall' avatar*/
.bell_position{
  margin: auto 5px;
  float: right;
}

/*Dropdown button avatar*/
.side-bar {
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.5s ease;
  transition-property: left;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #ddd;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3 ease;
}

.side-bar .menu .item .sub-menu {
  background: rgba(255,255,255,0.2);
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}

/*per far ruotare feccettine dropdown menu avatar*/
.rotate {
  transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;

}

/* Dropdown Button campanella*/
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
}

.dropbtn:hover {
  transform: scale(1.08);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}


/* nav */

.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__logo:hover {
  transform: scale(1.09);
}

.nav__avatar {
  width: 30px;
  object-fit: contain;  
}

/*Rende bottone trasparente*/
.avatar_button {
  width: 30px;
  object-fit: contain;
  background:transparent;
  border:none;
  
  
}

.avatar_button:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #111; */
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.foot_phrase{
  font-size: 10px;

  margin-top: 100px;
  margin-bottom: 100px;

  padding-top: 50px;
  padding-bottom: 50px;

}